section{
    margin-top: 64px;
    border: 1px solid rgb(240, 230, 140, 0.2);

    >.wrapper {
        width: 100%;
        display: flex;

        >.map-box {
            width: 64%;
            border: 1px solid rgb(240, 140, 140, 0.2);

            
    
        }
    
        >.table-box {
            width: 35%;
        }
    }
    

}