section{
    margin-top: 200px;
    border: 1px solid rgb(240, 230, 140, 0.2);

    >.wrapper {
        width: 100%;
        display: flex;

        >.map-box {
            width: 75%;
            border: 1px solid rgb(240, 140, 140, 0.2);
    
        }
    
        >.table-box {
            width: 25%;
        }
    }
    

}