<section id="table">
    <div class="table-header" >
        <p>{{'Station'}}</p>
        <p>{{'Temperatur'}}</p>
        <p>{{'Anonmalie'}}</p>
    </div>

    @for (city of citys; track $index) {


        @if ($index < 20 ) {

            <div id="single-city-element">
                <p>{{ city.cityName }}</p>
                <p>{{ city.refTemp | number: '1.1-1' }}°</p>
                <p>
                    <span *ngIf="city.currentTemp - city.refTemp > 0">+</span>
                    {{ city.currentTemp - city.refTemp | number: '1.1-1' }}°
                </p>
                  
            </div>
        }

    }
</section>
