div {
    width: 100%;
    margin-top: 22px;
    margin-bottom: 22px;

    > button {
        background-color: transparent;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 2px solid rgba(248, 248, 248, 0.727);
        border-radius: 25px;
        color: white;
        font-size: clamp(8px, 0.8vw, 18px);
        padding: 8px 20px 8px 20px;
        font-size: 12px;

        &:hover {
            background-color: #ffcb2a;
        }
    }
}
