<p class="title" [ngSwitch]="displayMode">
    <span *ngSwitchCase="'current'">Messstationen mit den Temperaturen von jetzt</span>
    <span *ngSwitchCase="'dayAverage'"
        >Regionale Anomalien von jetzt <br />
        <p>Letzte 24h Ø im Vergleich zu {{ getMonthName(getMonth()) }} 1940 - 1970</p></span
    >
    <span *ngSwitchCase="'monthAverage'">
        Regionale Anomalien im {{ getMonthName(selectedMonth?.month) }} {{ selectedMonth?.year }} <br />
        <p>Vergleich zu {{ getMonthName(selectedMonth?.month) }} 1940 - 1970</p>
    </span>
</p>
