.list {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > .title {
        width: 90%;
        text-align: center;
        color: white;
    }

    .single-element {
        width: 80%;
        display: flex;
        justify-content: space-between;
        //justify-content: flex-start;
        //background-color: rgba(0, 255, 255, 0.52);

        > p {
            margin: 0;
            font-size: 11px;
            color: #d7e1f7;
            width: 20%;
            text-align: center;

            &:first-child {
                color: white;
                text-align: left;
                width: 60%;
            }

            &:last-child {
                color: white;
            }
        }

        .description {
            color: #f1ec04;
            font-size: 12px;
            margin-bottom: 4px;

            &:first-child {
                color: #f1ec04;
            }

            &:last-child {
                text-align: center;
                color: #f1ec04;
            }
        }
    }
}
