<div #mapContainer class="map-container">
  <div *ngFor="let marker of cityMarkers; let i = index" 
       class="city-marker" 
       [style.top]="marker.top" 
       [style.left]="marker.left" 
       [attr.data]="marker.city" 
       (mouseenter)="onMarkerMouseEnter($event, marker.city)"
       (mouseleave)="onMarkerMouseLeave()"
       (mousemove)="onMarkerMouseMove($event)">


    <!-- <div class="label">
      <p>{{ marker.cityName }} - {{ marker.temperature }}° / 

      {{ monthData[i]?.highest || 'N/A' }}°</p>
    </div> -->


      <div class="label">
        <p>{{ marker.cityName }} - 
          {{ (displayMode === 'current' ? marker.temperature : monthData[i].average) || 'N/A' }}°</p>
      </div>


  </div>
  <div id="tooltip" class="tooltip" #tooltip>{{ tooltipContent }}</div>
</div>
