


.map-container {
    position: relative;
    width: 100%;


    height: 66.7vw;
    height: 36vw;
}

.map {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;

    border: solid 1px rgb(255, 0, 204, 0.1);
}

.top-layer {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.map-base {
    opacity: 1;
    pointer-events: auto;
}



