
.test{
    height: 50px;
    width: 100%;
    background-color: red;
}

.map-frame{
    border: solid 1px rgb(0, 255, 123);
    width: 100%;

}

.map-container {
    position: relative;
    width: 60%;


    height: 66.7vw;
    height: 36vw;
    // width: 50vw;
    // height: 33.5vw;

    border: solid 1px yellow;
}

.map {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;

    border: solid 1px rgb(255, 0, 204);
}

.top-layer {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.map-base {
    opacity: 1;
    pointer-events: auto;
}



