<!-- map.component.html< -->
<div class="map-frame">
  <div class="map-container">
    <img src="./assets/img/maps/swissmap_cold.png" alt="Cold Map" class="map map-layer" #coldMap>
    <img src="./assets/img/maps/swissmap_cool.png" alt="Cool Map" class="map map-layer" #coolMap>
    <img src="./assets/img/maps/swissmap_warm.png" alt="Warm Map" class="map map-layer" #warmMap>
    <img src="./assets/img/maps/swissmap_hot.png" alt="Hot Map" class="map map-layer" #hotMap>
    <img src="./assets/img/maps/swissmap_veryhot.png" alt="Very Hot Map" class="map map-layer" #veryHotMap>
    <img src="./assets/img/maps/swissmap_topLayer.png" alt="Base Map" class="top-layer">
  
    <app-local-marker></app-local-marker>
  </div>
  

</div>
