.map-description{
    //position: absolute;
    z-index: 3;
    left: 0;
    bottom: 0;
    color: white;
    //border: 1px solid purple;
    
    >p{
        margin: 0;
        padding-right: 8px;
    }

    .title{
        font-size: clamp(18px, 1.8vw, 32px);
        margin: 0;
        font-weight: 500;

    }

    .line{
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, #FDDE00 0%, #D82C06 88%);
    }

    .date{
        margin: 5px 0px;
        font-size: 24px;
    }

    .time{
        color: rgb(191, 255, 255);
        margin-top: 5px;
        font-size: 32px;
    }

    // @media (max-width: 1000px) {
    //     position: static;
    //     left: auto;
    //     color: white;
    //     //border: 1px solid purple;
    //     z-index: 3;
    //     top: auto;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;

    // }
}