.map-date {
    z-index: 3;
    left: 0;
    bottom: 0;
    color: white;

    @media (max-width: 1000px) {
        margin-top: 12px;
    }

    > .frame {
        text-align: center;
        font-size: 24px;
        font-size: clamp(12px, 2.5vw, 24px);

        @media (max-width: 1000px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        > p {
            text-align: center;
            margin: 0;
            padding-right: 8px;
        }
    }

    .date {
        margin: 5px 0px;
    }

    .time {
        color: rgb(191, 255, 255);
        margin-top: 5px;

        @media (max-width: 1000px) {
            margin: 0;
            margin-left: 5px;
        }
    }
}
