<div class="map-description">
    <ng-container *ngIf="displayMode === 'current'">
      <!-- <p class="title">Lokale Anomalien von jetzt</p> -->
      <!-- <div class="line"></div> -->
      <p class="date">{{currentDate}}</p>
      <p class="time">{{currentTime}} Uhr</p>
      <p>gegenüber {{getMonthName(getMonth())}} 1940 - 1970</p>

    </ng-container>
    
    <ng-container *ngIf="displayMode === 'dayAverage'">
      <!-- <p class="title">Anomalie letzte 24h</p> -->
      <!-- <div class="line"></div> -->
      <p class="date">{{currentDate}}</p>
      <p class="time">{{currentTime}} Uhr - 24h</p>

    <p>gegenüber {{getMonthName(getMonth())}} 1940 - 1970</p>

    </ng-container>
    
    <ng-container *ngIf="displayMode === 'monthAverage'">
      <!-- <div class="line"></div> -->
      <p>gegenüber {{getMonthName(selectedMonth?.month)}} 1940 - 1970</p>
    </ng-container>



      <!-- <app-highest-ref-list></app-highest-ref-list> -->



</div>
