<div class="map-date">
    <ng-container *ngIf="displayMode === 'current'">
        <div class="frame">
            <p class="date">{{ currentDate }}</p>
            <p class="time">{{ currentTime }} Uhr</p>
        </div>
    </ng-container>

    <ng-container class="frame" *ngIf="displayMode === 'dayAverage'">
        <div class="frame">
            <p class="date">{{ currentDate }}</p>
            <p class="time">{{ currentTime }} Uhr - 24h</p>
        </div>
    </ng-container>

    <ng-container class="frame" *ngIf="displayMode === 'monthAverage'">
        <div class="frame">
            <p class="date">
                {{ getMonthName(selectedMonth?.month) }}
                {{ selectedMonth?.year }}
            </p>
        </div>
    </ng-container>
</div>
