section{
    margin-top: 100px;
    min-height: 100px;

    div{
        height: 100%;
        width: 40%;    
        background-color: #fff700;
        //background-color: #d30606;
        //background-color: #FFCB2A;
        
        border-radius: 8px;
        backdrop-filter: blur(3.2px);
        -webkit-backdrop-filter: blur(3.2px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-shadow: 1px 9px 24px 0px rgba(66, 68, 90, 1);
 
        >p{
            line-height: 1.5;
            letter-spacing: 0.1rem;
            padding: 10px 40px;
            //text-align: center;
            color: rgb(10, 10, 55);
            font-size: 16px;
        }

        >button{
            background-color: rgb(249, 79, 249);
            border: none;
        }


    }
}