section{

    >div{
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        bottom: 0;
        width: 80px;

        background: rgba(255, 255, 255, 0.17);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        padding-top: 15%;
        
        @media (max-width: 1000px) {
            width: 100%;
            height: 80px;
            padding-top: 0%;
            flex-direction: row;
            top: auto;
        }


        >button, .menu{
            width: 100%;
            height: 10%;

            background: rgba(255, 255, 255, 0.17);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.28);
            color: white;
            font-size: clamp(8px, 0.8vw, 18px);
            margin-bottom: 32px;

            &:hover{
                background: rgba(255, 255, 255, 0.25);
            }
        }
        
        .btn-on{
            background-color: #FFE91F;
            background-color: #ffcb2a;
            //background-color: #FFEB3B;
            //background-color: #fafb1c;


            color: #00283D;
        }


        
        .menu{
            display: flex;
            justify-content: center;
            flex-direction: column;

        }

        #yearSelect{
            width: auto;
        }

        #monthSelect{
            width: auto;
        }


    }

    
}


