section{
    margin-top: 100px;

    >button{
        //height: 2vw;
        width: 14%;
        min-width: 150px;
        margin-right: 2%;
        background: rgba(255, 255, 255, 0.17);
        border-radius: 8px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.28);
        color: white;
        font-size: clamp(14px, 1vw, 18px);
        margin-bottom: 32px;
    
    }
    
}


