<section>
    <div class="dashboard-header">
        <app-data-toggle #dataToggle></app-data-toggle>
        <app-titels></app-titels>
        <app-datebox class="datebox-in-header"></app-datebox>
    </div>

    <div class="stage">
        <div class="side">
            <app-datebox class="datebox-in-side"></app-datebox>
            @if (displayMode === 'dayAverage' || displayMode === 'monthAverage') {
            <app-highest-ref-list style="width: 100%"></app-highest-ref-list>
            }
        </div>

        <div class="mid">
            <ng-container [ngSwitch]="dashboardMode">
                <!-- Map Mode -->
                <ng-container *ngSwitchCase="'map'">
                    <app-map-temp-scale [displayMode]="displayMode" [dashboardMode]="dashboardMode"></app-map-temp-scale>
                    <ng-container [ngSwitch]="displayMode">
                        <app-map *ngSwitchCase="'current'" [mapDisplayData]="currentDisplayData" [showAnomalie]="false"> </app-map>
                        <app-map *ngSwitchCase="'dayAverage'" [mapDisplayData]="dayAverageDisplayData"> </app-map>
                        <app-map *ngSwitchCase="'monthAverage'" [mapDisplayData]="monthAverageTemperatureData"> </app-map>
                    </ng-container>
                </ng-container>

                <!-- Table Mode -->
                <ng-container *ngSwitchCase="'table'">
                    <ng-container [ngSwitch]="displayMode">
                        <app-table *ngSwitchCase="'current'" [mapDisplayData]="currentDisplayData"> </app-table>
                        <app-table *ngSwitchCase="'dayAverage'" [mapDisplayData]="dayAverageDisplayData"> </app-table>
                        <app-table *ngSwitchCase="'monthAverage'" [mapDisplayData]="monthAverageTemperatureData"> </app-table>
                    </ng-container>
                </ng-container>
            </ng-container>

            <!-- Dashboard Toggle is always displayed -->
            <app-dashboard-toggle></app-dashboard-toggle>
        </div>

        <div class="side">
            <app-onboarding [displayMode]="displayMode" (modeChange)="dataToggle.setMode($event)" (initMonth)="dataToggle.setInitMonthData()"></app-onboarding>
        </div>
    </div>
</section>
