
<section>

    
    <app-dashboard-toggle></app-dashboard-toggle>

    <app-data-toggle></app-data-toggle>


    <div class="header">
        @if (displayMode === 'current'){
            <p class="title">Messstationen mit den Temperaturen von jetzt</p>
        } 
        @if (displayMode === 'dayAverage'){
            <p class="title">Anomalien der letzten 25 Stunden</p>
        } 

    </div>



    <div class="stage">
        <div class="side">

            
            <app-onboarding></app-onboarding>
            
            <!-- <app-barchart></app-barchart> -->
            
        </div>
        
        
        <div class="mid">
            
            @if (dashboardMode === 'map') {
                
                @if (displayMode === 'current') {
                    <app-map [mapDisplayData]="currentDisplayData" [showAnomalie]="false"></app-map>
                }
                @if (displayMode === 'dayAverage') {
                    <app-map [mapDisplayData]="dayAverageDisplayData"></app-map>
                }
                @if (displayMode === 'monthAverage') {
                    <app-map [mapDisplayData]="monthAverageTemperatureData"></app-map>
                }
                
            }
            @else if (dashboardMode === 'table') {
                <app-table [mapDisplayData]="currentDisplayData"></app-table>
            }
            
        </div>
        
        <div class="side">
            <app-datebox></app-datebox>
            <app-highest-ref-list style="width: 100%;"></app-highest-ref-list>
            <app-map-temp-scale></app-map-temp-scale>
    
    
            <!-- <app-year-temp-chart></app-year-temp-chart> -->

        </div>
    </div>






</section>