section {
    margin-top: 70px;
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 1000px) {
        height: auto;
        padding-right: 0;
        margin-bottom: 80px;
    }

    > .dashboard-header {
        width: 100%;
        margin-top: 2%;

        .title {
            font-size: clamp(20px, 4.2vw, 46px);
            font-weight: 250;
            margin: 0;
            text-align: center;
            color: white;

            > span {
                > p {
                    margin: 0;
                    font-size: 18px;
                    font-size: clamp(14px, 2vw, 18px);
                }
            }
        }
    }

    > .stage {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        margin-top: 4%;
        // border: 1px solid rgb(242, 255, 2);

        @media (max-width: 1000px) {
            flex-direction: column;
        }

        > .mid {
            position: relative;
            height: 100%;
            width: 55%;
            max-width: 110vh;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            border: 1px solid rgba(165, 42, 42, 0.36);

            @media (max-width: 1000px) {
                width: 100%;
            }
        }

        > .side {
            //margin-top: 20%;
            width: 20%;
            height: 100%;
            border: 1px solid rgb(109, 216, 42, 0.1);

            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            @media (max-width: 1000px) {
                width: 100%;
            }
        }

        > .side:nth-child(1) {
            @media (max-width: 1000px) {
                order: 3;
            }
        }

        > .side:nth-child(3) {
            @media (max-width: 1000px) {
            }
        }
    }

    .datebox-in-header {
        @media (min-width: 1000px) {
            display: none;
        }
    }

    .datebox-in-side {
        @media (max-width: 1000px) {
            display: none;
        }
    }
}
