


.map-container {
    position: relative;
    width: 100%;
    height: 34.5vw;
    border: solid 1px rgba(217, 255, 0, 0.5);

    @media (max-width: 800px) {
        height: 62.5vw;
    }
}

.map {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;

    border: solid 1px rgb(255, 0, 204, 0.5);
}

.top-layer {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.shadow-layer {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.frame-layer {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 0.5;
}

.map-base {
    opacity: 1;
    pointer-events: auto;
}



