/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

body {
    background-color: #02465f;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh; // Ensures the background covers the entire viewport height
    overflow-x: hidden; // Prevent horizontal scrollbars

    font-family: "Inter Tight", sans-serif;
}

/* Hide scrollbars in WebKit browsers (Safari, Chrome) */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbars in Firefox */
* {
    scrollbar-width: none; /* Firefox */
}

/* Optionally hide scrollbars in Edge, IE */
* {
    -ms-overflow-style: none; /* IE and Edge */
}

.inter-tight {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
}
