/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #02465F;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh; // Ensures the background covers the entire viewport height
  overflow-x: hidden; // Prevent horizontal scrollbars



  // background: rgb(77,117,165);
  // background: linear-gradient(90deg, rgba(77,117,165,1) 0%, rgba(95,65,131,1) 88%);

  // background: rgb(132,214,227);
  // background: linear-gradient(165deg, rgba(132,214,227,1) 0%, rgba(61,120,137,1) 24%, rgba(45,100,118,1) 34%, rgba(0,40,61,1) 67%);



  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: cover;


  
}

/* Hide scrollbars in WebKit browsers (Safari, Chrome) */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars in Firefox */
* {
  scrollbar-width: none; /* Firefox */
}

/* Optionally hide scrollbars in Edge, IE */
* {
  -ms-overflow-style: none; /* IE and Edge */
}
