<section>

    <div class="map-description">

      <ng-container *ngIf="displayMode === 'current'">
        <p>Temperaturen von Jetzt</p>
      </ng-container>
      <ng-container *ngIf="displayMode === 'dayAverage'">
        <p>Durschnitt letzte 24 h</p>
      </ng-container>
      <ng-container *ngIf="displayMode === 'monthAverage'">
        <p>Durschnitt {{getMonthName(selectedMonth?.month)}} {{monthAverageTemperatureData[0].year}}</p>
      </ng-container>

    </div>
    
  
  
    <div class="wrapper">
      <div class="map-box">
        <ng-container *ngIf="displayMode === 'current'">
          <app-map [mapDisplayData]="(currentTemperatureData$ | async) || []"></app-map>
        </ng-container>
        <ng-container *ngIf="displayMode === 'dayAverage'">
          <app-map [mapDisplayData]="(dayAverageTemperatureData$ | async) || []"></app-map>
        </ng-container>
        <ng-container *ngIf="displayMode === 'monthAverage'">
          <app-map [mapDisplayData]="monthAverageTemperatureData"></app-map>
        </ng-container>
      </div>
  
    </div>
  </section>
  