<section>
    <app-data-toggle></app-data-toggle>
  
    <div class="wrapper">
      <div class="map-box">
        <ng-container *ngIf="displayMode === 'current'">
          <app-map [mapDisplayData]="(currentTemperatureData$ | async) || []"></app-map>
        </ng-container>
        <ng-container *ngIf="displayMode === 'dayAverage'">
          <app-map [mapDisplayData]="(dayAverageTemperatureData$ | async) || []"></app-map>
        </ng-container>
        <ng-container *ngIf="displayMode === 'monthAverage'">
          <app-map [mapDisplayData]="monthAverageTemperatureData"></app-map>
        </ng-container>
      </div>
  
      <div class="table-box">
        <ng-container *ngIf="displayMode === 'current'">
          <app-table [mapDisplayData]="(currentTemperatureData$ | async) || []"></app-table>
        </ng-container>
        <ng-container *ngIf="displayMode === 'dayAverage'">
          <app-table [mapDisplayData]="(dayAverageTemperatureData$ | async) || []"></app-table>
        </ng-container>
        <ng-container *ngIf="displayMode === 'monthAverage'">
          <app-table [mapDisplayData]="monthAverageTemperatureData"></app-table>
        </ng-container>
      </div>
    </div>
  </section>
  