section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //border: 1px solid purple;

    >.map-box{
        width: 60%;
        max-width: 900px;
        //border: 1px solid purple;

        @media (max-width: 1000px) {
            width: 100%;

        }
    }


    >.map-description{
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        color: white;
        //border: 1px solid purple;

        background: rgba(255, 255, 255, 0.12);
        border-radius: 8px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border: 1px solid rgba(250, 246, 246, 0.28);


        
        
        >p{
            padding-right: 8px;
        }

        .title{
            font-size: clamp(18px, 1.8vw, 32px);
            margin: 0;
            font-weight: 500;

        }

        @media (max-width: 1000px) {
            position: static;
            left: auto;
            color: white;
            //border: 1px solid purple;
            z-index: 3;
            top: auto;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }


    
    

}