section{

    //border: 1px solid rgb(240, 230, 140, 0.1);

    >.map-description{
        position: relative;
        color: white;

        >.layer{
            position: absolute;
            z-index: 3;
            top: 0;
            left: 5%;

            >.title{
                font-size: clamp(18px, 1.8vw, 32px);
                margin: 0;
                font-weight: 500;
            }
        }
    }


    
    

}