<section>
    <div>
        <!-- Buttons für den Wechsel des Anzeigemodus -->
        <button [ngClass]="{ 'btn-on': displayMode === 'current' }" (click)="setMode('current')">Aktuelle Temperaturen</button>
        <button [ngClass]="{ 'btn-on': displayMode === 'dayAverage' }" (click)="setMode('dayAverage')">Anomalie 24h</button>
        <button (click)="setInitMonthData()" [ngClass]="{ 'btn-on': displayMode === 'monthAverage' }">Anomalie Monat</button>

        <!-- Dropdown-Menüs für Jahr und Monat in Angular Material -->
        <div *ngIf="displayMode === 'monthAverage'" class="month-select-container">
            <!-- Jahr Dropdown -->
            <mat-form-field appearance="fill" class="custom-select">
                <mat-label>Jahr</mat-label>
                <mat-select [(ngModel)]="selectedYear" (selectionChange)="onYearChange($event.value)">
                    <mat-option value="">Jahr auswählen</mat-option>
                    <mat-option *ngFor="let year of availableYears" [value]="year">{{ year }}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Monat Dropdown -->
            <mat-form-field appearance="fill" class="custom-select">
                <mat-label>Monat</mat-label>
                <mat-select [(ngModel)]="selectedMonth" [disabled]="!selectedYear" (selectionChange)="onMonthChange($event.value)">
                    <mat-option value="">Monat auswählen</mat-option>
                    <mat-option *ngFor="let month of availableMonths" [value]="month">{{ getMonthName(month) }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</section>
