<section>
  <div>
    <button [ngClass]="{'btn-on': displayMode === 'current'}" (click)="setMode('current')">Aktuelle Temperaturen</button>
    <button [ngClass]="{'btn-on': displayMode === 'dayAverage'}" (click)="setMode('dayAverage')">Anomalie 24h</button>
    <button [ngClass]="{'btn-on': displayMode === 'monthAverage'}" (click)="setInitMonthData()">Anomalie Monat</button>

    @if(displayMode === 'monthAverage'){
      <div [ngClass]="{'btn-on': displayMode === 'monthAverage'}" class="menu">
        <div>
  
          <select id="yearSelect" (change)="onYearChange($event)" [value]="selectedYear">
            <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
          </select>
        </div>
      
        <div>
  
          <select id="monthSelect" (change)="onMonthChange($event)" [disabled]="!selectedYear" [value]="selectedMonth">
            <option *ngFor="let month of availableMonths" [value]="month">{{ getMonthName(month) }}</option>
          </select>
        </div>
  
  
      </div>
    }

  </div>  


</section>



