section {
    > div {
        width: 100%;
        display: flex;
        justify-content: center;

        @media (max-width: 1000px) {
            position: fixed;
            z-index: 10;
            bottom: 0;
            left: 0;
            right: 0;
            height: 60px;
            flex-direction: row;
            background-color: #00293df2;
            box-shadow: -1px -2px 5px 0px rgba(0, 0, 0, 0.41);
        }

        > button,
        .month-select-container {
            width: 20%;
            height: 24px;
            background: rgba(255, 255, 255, 0.17);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.28);
            color: white;
            font-size: clamp(12px, 0.8vw, 18px);
            margin-bottom: 32px;
            cursor: pointer;

            @media (max-width: 1000px) {
                width: 100%;
                height: 100%;
                margin-bottom: 0;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.25);
                color: #fff700;
            }
        }

        > button:nth-child(1) {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;

            @media (max-width: 1000px) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        > button:last-child {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;

            @media (max-width: 1000px) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .month-select-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            background-color: #fff700;

            &:hover {
                background-color: #fff700;
            }

            @media (max-width: 1000px) {
                position: fixed;
                bottom: 60px;
                left: 0;
                right: 0;
                z-index: 50;
                height: 45px;
                background-color: #fff700;
                box-shadow: -1px -2px 5px 0px rgba(0, 0, 0, 0.41);
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
                transition: height 0.3s ease;
                color: pink;
                border-radius: 0;
                width: 100%;
                height: 45px;

                &.mobile-overlay-large {
                    height: 400px;
                }
            }
        }

        option {
            background-color: #0cadf8;
            color: rgb(255, 255, 255);
            text-align: center;
        }

        .btn-on {
            color: rgba(10, 10, 55, 0.95) !important;
            background-color: #fff700 !important;
        }
    }

    .custom-select {
        background: none;
        border: none;
        padding: 2px 20px 2px 0;
        font-size: clamp(12px, 0.8vw, 18px);
        outline: none;
        width: 30%;

        @media (max-width: 1000px) {
            margin-top: 14px;
        }
    }
}
